ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    position: relative;
    li {
        display: inline;
        .menu-header {
            width: auto;
        }
    }
}