$padding-base: 2.5pt 5pt;
$base-color: #0082C8;
$base-button: #06c;
$warning-button: #ffb818;
$background-color: #1e1e1e;
$font-color: #e4e4e4;
$border-color: lighten($color: $background-color, $amount: 30);
$error-button: #d9364f;
$border-radius-base: 3.5px;