form {
  display: -ms-grid;
  display: grid;
}

.form-control {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.5px 1px;
  border-radius: 0.2rem;
  border: 1px solid #6b6b6b;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  background-color: #444444;
  color: #e4e4e4;
}

.form-control:focus {
  color: #e4e4e4;
  background-color: #515151;
  border-color: #06c;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.form-control:-ms-input-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.form-control::-ms-input-placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.form-control::placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #2b2b2b;
  opacity: 1;
}

[type="date"] {
  -webkit-user-modify: read-only;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  margin-top: 5px;
}

.btn, .btn-error, .btn-warning {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-family: inherit;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #06c;
  border: 1px solid #004d99;
  padding: 2.5pt 5pt;
  border-radius: 3.5px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.btn:hover, .btn-error:hover, .btn-warning:hover {
  background: #0073e6;
  border-color: #3399ff;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.btn:disabled, .btn-error:disabled, .btn-warning:disabled {
  opacity: 0.65;
  color: gray;
}

.btn:disabled:hover, .btn-error:disabled:hover, .btn-warning:disabled:hover {
  background-color: #06c;
  border-color: #004d99;
  cursor: not-allowed;
  color: gray;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-error {
  background-color: #d9364f;
  border: 1px solid #b9233a;
}

.btn-error:hover {
  background: #dd4b62;
  border-color: #e16175;
}

.btn-error:disabled {
  opacity: 0.65;
}

.btn-error:disabled:hover {
  background-color: #d9364f;
  border-color: #e98c9a;
  cursor: not-allowed;
}

.btn-warning {
  background-color: #ffb818;
  border: 1px solid #e49e00;
  color: #7e5700;
}

.btn-warning:hover {
  background: #ffc84b;
  border-color: #ffb818;
  color: #b17b00;
}

.btn-warning:disabled {
  opacity: 0.65;
}

.btn-warning:disabled:hover {
  background-color: #ffb818;
  border-color: #e49e00;
  cursor: not-allowed;
}

#usertypes-checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 1fr;
      grid-template-columns: 25px 1fr;
}

#usertypes-checkbox label {
  line-height: 35px;
}
/*# sourceMappingURL=form-control.css.map */