@import './definition.scss', './form-control.scss';
html, body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
}
#content {
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 15px;
    .render {
        margin-left: 5px;
        margin-right: 10px;
    }
}
.menu, .menu > li > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        margin-left: 10px;
        .menu-header, .menu-header-expanded, .active {
            text-decoration: none;
            border-left: 4px solid;
            border-color: lighten($color: $base-color, $amount: 10);
            color: $font-color;
            cursor: pointer;
            padding: $padding-base;
            border-radius: 2.5px;
            background: $base-color;
            margin-top: 5px;
            display: inline-block;
            width: 100%;
            &:hover {
                background: lighten($color: $base-color, $amount: 5);
                border-color: orange;
                color: #e4ff00;
            }
            .icon-menu, .icon-menu-expanded {
                font-weight: bold;
                transform: rotate(225deg) translateY(-4px);
                display: inline-block;
                margin-right: 5px;
                margin-top: 5px;
            }
            .icon-menu-expanded {
                transform: rotate(-45deg);
            }
        }
        .menu-header-expanded {
            background: lighten($color: $base-color, $amount: 5);
            border-color: lighten($color: $base-color, $amount: 15);
            color: #e4ff00;
            &:hover {
                background: lighten($color: $base-color, $amount: 10);
                border-color: lighten($color: orange, $amount: 10);
                color: lighten($color: #e4ff00, $amount: 10);
            }
        }
        .active {
            background-color: orange;
            border-color: lighten($color: orange, $amount: 30);
            color: black;
            &:hover {
                background-color: darken($color: orange, $amount: 10);
                border-color: lighten($color: orange, $amount: 10);
                color: black;
            }
        }
    }
}
table {
    border: 1px solid $base-color;
    width: 100%;
    border-collapse: collapse;
    th, td {
        background: $base-color;
        border: 1px solid $base-color;
        border-bottom: 2px solid $base-color;
        border-bottom-color: darken($color: $base-color, $amount: 10);
        border-right: 2px solid $base-color;
        border-right-color: darken($color: $base-color, $amount: 10);
        padding: $padding-base;
    }
    td {
        background: transparent;
    }
    tr {
        &:hover {
            background: lighten($color: $base-color, $amount: 20);
        }
        td {
            text-align: center;
        }
        &:nth-of-type(odd){
            background: #08b6dc7d;
            &:hover{
                background: lighten($color: #08b6dc, $amount: 10);
                // background: linear-gradient(0deg, darken(#08b6dc, 5) 0%, lighten(#045009, 5) 20%, lighten($background-color, 5) 100%);
                border-color: lighten($color: #ffffff, $amount: 15);
            }
        }
    }
}
.mt-1 {
    margin-top: 5px;
}
.ml-1 {
    margin-left: 5px;
}
.dialog{
    background: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 10px 8px #888888;
        background-color: $background-color;
        border-radius: 2.5px;
        border: 1px solid #ddd;
    }
    header, footer {
        background-color: lighten($color: $background-color, $amount: 10);
        border: 1px solid $border-color;
        padding: $padding-base;
        font-weight: bold;
        margin-bottom: 5px;
        border-bottom-width: 3px;
        border-radius: 2.5px 2.5px 0 0;
    }
    footer{
        margin-top: 5px;
        margin-bottom: 0;
        border-top-width: 3px;
        border-bottom-width: 0;
        border-radius: 0 0 2.5px 2.5px;
    }
    .layout, .layout-err {
        padding: $padding-base;
        min-width: 300px;
        margin-right: 10px;
    }
    .layout-err {
        display: grid;
        grid-template-columns: 35px 1fr;
        .text {
            line-height: 35px;
            font-size: 30px;
        }
    }
}
#delete-message {
    padding: $padding-base;
}
#dati {
    list-style: none;
    padding: 0;
    li {
        header {
            cursor: pointer;
            color: $font-color;
            padding: $padding-base;
            border-radius: 2.5px;
            margin-top: 5px;
            display: inline-block;
            width: 100%;
            .icon-expander, .icon-expander-expanded {
                font-weight: bold;
                transform: rotate(238deg) translateY(-4px);
                border: 0;
                display: inline-block;
                cursor: pointer;
            }
            .icon-expander-expanded {
                transform: rotate(-45deg);
            }
            &:hover {
                background: lighten($color: $base-color, $amount: 5);
                color: orange;
            }
        }
    }
    // table {
    //     display: none;
    // }
}
.children-ul{
    list-style: none;
    padding-left: 20px;
}
.tab {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, .active {
        text-decoration: none;
        border-top: 4px solid;
        border-color: lighten($color: $base-color, $amount: 10);
        color: $font-color;
        cursor: pointer;
        padding: $padding-base;
        border-radius: 2.5px;
        background: $base-color;
        margin-top: 5px;
        display: inline-block;
        &:hover {
            background: lighten($color: $base-color, $amount: 5);
            border-color: orange;
            color: #e4ff00;
        }
    }
    .active {
        background-color: orange;
        border-color: lighten($color: orange, $amount: 30);
        color: black;
        &:hover {
            background-color: darken($color: orange, $amount: 10);
            border-color: lighten($color: orange, $amount: 10);
            color: black;
        }
    }
}
#refer-parent {
    display: grid;
}