/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tendina {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.tendina .body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 8px #888888;
  background-color: #1e1e1e;
  border-radius: 2.5px;
}
.tendina header, .tendina footer {
  background-color: #383838;
  border: 1px solid #6b6b6b;
  padding: 2.5pt 5pt;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom-width: 3px;
  border-radius: 2.5px 2.5px 0 0;
}
.tendina footer {
  margin-top: 5px;
  margin-bottom: 0;
  border-top-width: 3px;
  border-bottom-width: 0;
  border-radius: 0 0 2.5px 2.5px;
}
.tendina .layout, .tendina .layout-err {
  padding: 2.5pt 5pt;
  min-width: 300px;
  margin-right: 10px;
}
.tendina .layout-err {
  display: grid;
  grid-template-columns: 35px 1fr;
}
.tendina .layout-err .text {
  line-height: 35px;
  font-size: 30px;
}
.override-dialog {
  margin-top: 19px;
  margin-bottom: -41px;
  width: 35px;
}
form {
  display: grid;
}
.form-control {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.5px 1px;
  border-radius: 0.2rem;
  border: 1px solid #6b6b6b;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #444444;
  color: #e4e4e4;
}
.form-control:focus {
  color: #e4e4e4;
  background-color: #515151;
  border-color: #06c;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.form-control::placeholder {
  color: #e4e4e4;
  opacity: 0.7;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #2b2b2b;
  opacity: 1;
}
[type=date] {
  -webkit-user-modify: read-only;
}
[type=date]::-webkit-inner-spin-button {
  display: none;
}
[type=date]::-webkit-calendar-picker-indicator {
  margin-top: 5px;
}
.btn, .btn-error, .btn-warning {
  -webkit-user-select: none;
  /* Safari */
  /* Firefox */
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  font-family: inherit;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #06c;
  border: 1px solid #004d99;
  padding: 2.5pt 5pt;
  border-radius: 3.5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.btn:hover, .btn-error:hover, .btn-warning:hover {
  background: #0073e6;
  border-color: #3399ff;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.btn:disabled, .btn-error:disabled, .btn-warning:disabled {
  opacity: 0.65;
  color: gray;
}
.btn:disabled:hover, .btn-error:disabled:hover, .btn-warning:disabled:hover {
  background-color: #06c;
  border-color: #004d99;
  cursor: not-allowed;
  color: gray;
  box-shadow: none;
}
.btn-error {
  background-color: #d9364f;
  border: 1px solid #b9233a;
}
.btn-error:hover {
  background: #dd4b62;
  border-color: #e16175;
}
.btn-error:disabled {
  opacity: 0.65;
}
.btn-error:disabled:hover {
  background-color: #d9364f;
  border-color: #e98c9a;
  cursor: not-allowed;
}
.btn-warning {
  background-color: #ffb818;
  border: 1px solid #e49e00;
  color: #7e5700;
}
.btn-warning:hover {
  background: #ffc84b;
  border-color: #ffb818;
  color: #b17b00;
}
.btn-warning:disabled {
  opacity: 0.65;
}
.btn-warning:disabled:hover {
  background-color: #ffb818;
  border-color: #e49e00;
  cursor: not-allowed;
}
#usertypes-checkbox {
  display: grid;
  grid-template-columns: 25px 1fr;
}
#usertypes-checkbox label {
  line-height: 35px;
}
.menu, .menu > li > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li, .menu > li > ul li {
  margin-left: 10px;
}
.menu li .menu-header, .menu li .menu-header-expanded, .menu li .active, .menu > li > ul li .menu-header, .menu > li > ul li .menu-header-expanded, .menu > li > ul li .active {
  text-decoration: none;
  border-left: 4px solid;
  border-color: #00a3fb;
  color: #e4e4e4;
  cursor: pointer;
  padding: 2.5pt 5pt;
  border-radius: 2.5px;
  background: #0082C8;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}
.menu li .menu-header:hover, .menu li .menu-header-expanded:hover, .menu li .active:hover, .menu > li > ul li .menu-header:hover, .menu > li > ul li .menu-header-expanded:hover, .menu > li > ul li .active:hover {
  background: #0093e2;
  border-color: orange;
  color: #e4ff00;
}
.menu li .menu-header:hover .icon-menu, .menu li .menu-header-expanded:hover .icon-menu, .menu li .active:hover .icon-menu, .menu > li > ul li .menu-header:hover .icon-menu, .menu > li > ul li .menu-header-expanded:hover .icon-menu, .menu > li > ul li .active:hover .icon-menu {
  filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
}
.menu li .menu-header .icon-menu, .menu li .menu-header .icon-menu-expanded, .menu li .menu-header-expanded .icon-menu, .menu li .menu-header-expanded .icon-menu-expanded, .menu li .active .icon-menu, .menu li .active .icon-menu-expanded, .menu > li > ul li .menu-header .icon-menu, .menu > li > ul li .menu-header .icon-menu-expanded, .menu > li > ul li .menu-header-expanded .icon-menu, .menu > li > ul li .menu-header-expanded .icon-menu-expanded, .menu > li > ul li .active .icon-menu, .menu > li > ul li .active .icon-menu-expanded {
  transform: rotate(135deg);
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 60 60'%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(26 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 27)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(141deg) brightness(111%) contrast(96%);
}
.menu li .menu-header .icon-menu-expanded, .menu li .menu-header-expanded .icon-menu-expanded, .menu li .active .icon-menu-expanded, .menu > li > ul li .menu-header .icon-menu-expanded, .menu > li > ul li .menu-header-expanded .icon-menu-expanded, .menu > li > ul li .active .icon-menu-expanded {
  transform: rotate(225deg);
  filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
}
.menu li .menu-header-expanded, .menu > li > ul li .menu-header-expanded {
  background: #0093e2;
  border-color: #16adff;
  color: #e4ff00;
}
.menu li .menu-header-expanded:hover, .menu > li > ul li .menu-header-expanded:hover {
  background: #00a3fb;
  border-color: #ffb733;
  color: #e9ff33;
}
.menu li .menu-header-expanded:hover .icon-menu-expanded, .menu > li > ul li .menu-header-expanded:hover .icon-menu-expanded {
  filter: invert(83%) sepia(38%) saturate(2471%) hue-rotate(331deg) brightness(105%) contrast(105%);
}
.menu li .active, .menu > li > ul li .active {
  background-color: orange;
  border-color: #ffdb99;
  color: black;
}
.menu li .active:hover, .menu > li > ul li .active:hover {
  background-color: #cc8400;
  border-color: #ffb733;
  color: black;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e4e4e4;
}
#content {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-column-gap: 15px;
  column-gap: 15px;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
#content .render {
  margin-left: 5px;
  margin-right: 10px;
  padding: 2.5px 5px;
}
table {
  border: 1px solid #0082C8;
  width: 100%;
  border-collapse: collapse;
}
table th, table td {
  background: #0082C8;
  border: 1px solid #0082C8;
  border-bottom: 2px solid #0082C8;
  border-bottom-color: #006195;
  border-right: 2px solid #0082C8;
  border-right-color: #006195;
  padding: 2.5pt 5pt;
  overflow: hidden;
  text-overflow: ellipsis;
}
table td {
  background: transparent;
}
table th {
  -webkit-user-select: none;
  /* Safari */
  /* Firefox */
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  color: white;
}
table tr .expander svg, table tr .expander-expanded svg, table tr .bool svg, table .selected .expander svg, table .selected .expander-expanded svg, table .selected .bool svg {
  height: 25px;
  fill: white;
  cursor: pointer;
}
table tr .expander svg, table tr .expander-expanded svg, table .selected .expander svg, table .selected .expander-expanded svg {
  transition: transform 0.2s ease-in-out;
}
table tr .expander svg:hover, table tr .expander-expanded svg:hover, table .selected .expander svg:hover, table .selected .expander-expanded svg:hover {
  fill: orange;
}
table tr .expander-expanded svg, table .selected .expander-expanded svg {
  transform: rotate(90deg);
}
table tr:hover, table .selected:hover {
  background: #2fb6ff;
  color: black;
}
table tr:hover .bool svg, table .selected:hover .bool svg {
  height: 25px;
  fill: black;
  cursor: pointer;
}
table tr td, table .selected td {
  text-align: center;
}
table tr:nth-of-type(odd), table .selected:nth-of-type(odd) {
  background: #08b6dc7d;
}
table tr:nth-of-type(odd):hover, table .selected:nth-of-type(odd):hover {
  background: #20d0f7;
  border-color: white;
}
table .selected td {
  background: #09caf5;
}
table .childern {
  background-color: transparent;
  color: inherit;
}
table .childern:hover {
  background-color: transparent;
  color: inherit;
}
.mt-1 {
  margin-top: 5px;
}
.ml-1 {
  margin-left: 5px;
}
.dialog {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.dialog .body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 8px #888888;
  background-color: #1e1e1e;
  border-radius: 2.5px;
  border: 1px solid #ddd;
}
.dialog header, .dialog footer {
  background-color: #383838;
  border: 1px solid #6b6b6b;
  padding: 2.5pt 5pt;
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom-width: 3px;
  border-radius: 2.5px 2.5px 0 0;
}
.dialog footer {
  margin-top: 5px;
  margin-bottom: 0;
  border-top-width: 3px;
  border-bottom-width: 0;
  border-radius: 0 0 2.5px 2.5px;
}
.dialog .layout, .dialog .layout-err {
  padding: 2.5pt 5pt;
  min-width: 300px;
  margin-right: 10px;
}
.dialog .layout-err {
  display: grid;
  grid-template-columns: 35px 1fr;
}
.dialog .layout-err .text {
  line-height: 35px;
  font-size: 30px;
}
#delete-message {
  padding: 2.5pt 5pt;
}
#dati {
  padding: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
#dati .buttons {
  white-space: nowrap;
}
#dati thead tr {
  position: sticky;
  top: 0;
}
.children-ul {
  list-style: none;
  padding-left: 20px;
}
.tab {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tab li, .tab .active {
  text-decoration: none;
  border-top: 4px solid;
  border-color: #00a3fb;
  color: #e4e4e4;
  cursor: pointer;
  padding: 2.5pt 5pt;
  border-radius: 2.5px;
  background: #0082C8;
  margin-top: 5px;
  display: inline-block;
}
.tab li:hover, .tab .active:hover {
  background: #0093e2;
  border-color: orange;
  color: #e4ff00;
}
.tab .active {
  background-color: orange;
  border-color: #ffdb99;
  color: black;
}
.tab .active:hover {
  background-color: #cc8400;
  border-color: #ffb733;
  color: black;
}
#refer-parent {
  display: grid;
}
.grid-1 {
  display: grid;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.h-100 {
  height: 100%;
}
#error {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #ff00007a;
  padding: 5px;
  min-height: 25px;
}
#error .icon {
  position: absolute;
  cursor: pointer;
  background-color: red;
  right: 5px;
  padding: 2.5px 5px;
}
#error .icon:hover {
  background-color: orange;
  color: black;
}
.error-message {
  background: #ff00007a;
  padding: 5px;
  min-height: 25px;
}
.error-message label {
  line-height: 25px;
}
.tree-node .header, .tree-node .header-expanded {
  text-decoration: none;
  border-left: 4px solid;
  border-color: #00a3fb;
  color: #e4e4e4;
  cursor: pointer;
  padding: 2.5pt 5pt;
  border-radius: 2.5px;
  background: #0082C8;
  margin-top: 5px;
  display: inline-block;
  white-space: nowrap;
}
.tree-node .header:hover, .tree-node .header-expanded:hover {
  background: #0093e2;
  border-color: orange;
  color: #e4ff00;
}
.tree-node .header:hover .icon, .tree-node .header-expanded:hover .icon {
  filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
}
.tree-node .header .icon, .tree-node .header .icon-expanded, .tree-node .header-expanded .icon, .tree-node .header-expanded .icon-expanded {
  transform: rotate(135deg);
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 60 60'%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(26 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 27)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(141deg) brightness(111%) contrast(96%);
}
.tree-node .header .icon-expanded, .tree-node .header-expanded .icon-expanded {
  transform: rotate(225deg);
  filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
}
.tree-node .header-expanded {
  background: #0093e2;
  border-color: #16adff;
  color: #e4ff00;
}
.tree-node .header-expanded:hover {
  background: #00a3fb;
  border-color: #ffb733;
  color: #e9ff33;
}
.tree-node .header-expanded:hover .icon-expanded {
  filter: invert(83%) sepia(38%) saturate(2471%) hue-rotate(331deg) brightness(105%) contrast(105%);
}
.tree-node .content {
  border: 1px solid;
  margin-top: 2.5px;
}
.topic {
  border: 1px solid #0082C8;
  border-radius: 2.5px 5px;
  margin-top: 5px;
  cursor: pointer;
}
.topic header {
  padding: 2.5pt 5pt;
  display: grid;
  grid-template-columns: 30px 8fr 1fr 25px 90px;
}
.topic header:hover {
  background: #2fb6ff;
}

/*# sourceMappingURL=styles.css.map*/