<div style="display: grid; grid-template-columns: 1fr 9fr;column-gap: 15px; heigth: 100%">
    <ul id="dati">
        <app-tree-node *ngFor="let d of records" [title]="d" (expanded)="Expanded(d)">
        </app-tree-node>
    </ul>
    <table id="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Package</th>
                <th>Function</th>
                <th>Message</th>
                <th>Info</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let l of logItems">
                <tr (click)="l.Expanded = !l.Expanded">
                    <td>{{ l.Data | date : 'HH:mm:ss' }}</td>
                    <td>{{ l.Package }}</td>
                    <td>{{ l.Function }}</td>
                    <td>{{ l.Message }}</td>
                    <td>{{ l.Info }}</td>
                    <td>{{ l.Severity }}</td>
                </tr>
                <tr *ngIf="l.Expanded">
                    <td colspan="6">
                        <div style="text-align: left;" [innerHtml]="l.StackTrace"></div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>