.childern {
    &:hover {
        background: transparent;
    }
}
.col, .col-filter {
    white-space: nowrap;
    position: relative;
    overflow: unset;
    svg {
        width: 15px;
        fill: #fff;
        cursor: pointer;
        &:hover {
            fill: #ff9100;
        }
    }
    .filter-emnu {
        position: absolute;
        top: 15px;
        // right: -35px;
        left: 25px;
        display: block;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 2.5px 5px;
        background-color: #2fb6ff;
        display: none;
        z-index: 1;
    }
}
.col-filter {
    .filter-emnu {
        display: block;
    }
}