.my-code-editor {
    flex-grow: 9;
    height: calc(100vh - 35px);
    position: relative;
    .editor-container {
        height: 100%;
    }
    .editor {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 225px;
        height: 100%;
    }
    .result {
        max-height: 200px;
        overflow: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
    }
}
.container{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 38px);
    .tree{
        height: calc(100vh - 64px);
        flex-grow: 1;
        background-color: #1e1e1e;
        color: whitesmoke;
        padding: 5px;
        overflow: auto;
    }
}
.tool-bar{
    padding: 5px;
    background-color: #1e1e1e;
    border-bottom: 3px solid lighten($color: #1e1e1e, $amount: 10);
}