<app-table [table]="table" (deleted)="OpenDeleteDialog($event.ID, 'usertype', 'delete')" (added)="AddUserType()">
</app-table>

<!--
<table id="dati" >
    <thead>
        <tr>
            <th>Description</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of records">
            <td>{{ r.Description }}</td>
            <td>
                <button class="btn-error ml-1" (click)="OpenDeleteDialog(r.ID, 'usertype', 'delete');">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div id="pagination" class="mt-1">
    <button class="btn btn-primary" (click)="AddUserType()">Add UserType</button>
</div>
-->
<app-dialog
    [title]="'Add User-Type'"
    [dialogType]="dialogType"
    *ngIf="dialogType != 99 && dialogType != 2"
    (cancelClick)="CancelDialogClick()">
    <app-edit-user-type [selectedUsertype]="selectedRecord" (saved)="SavedDialogClick($event, dialogType)" [error]="error"></app-edit-user-type>
</app-dialog>