@import './definition.scss';
form {
    display: grid;
}
.form-control{
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.5px 1px;
    border-radius: 0.2rem;
    border: 1px solid $border-color;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: lighten($color: $background-color, $amount: 15);
    color: $font-color;
    &:focus {
        color: $font-color;
        background-color: lighten($color: $background-color, $amount: 20);
        border-color: $base-button;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    &::placeholder {
        color: $font-color;
        opacity: 0.7;
    }
    &:disabled, &[readonly] {
        background-color: lighten($color: $background-color, $amount: 5);
        opacity: 1;
    }
}
[type="date"] {
    -webkit-user-modify: read-only;
}
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    margin-top: 5px;
}
.btn, .btn-error, .btn-warning {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-family: inherit;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: $base-button;
    border: 1px solid darken($color: $base-button, $amount: 10%);
    padding: $padding-base;
    border-radius: $border-radius-base;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    color: white;
    &:hover {
        background: lighten($color: $base-button, $amount: 5%);
        border-color: lighten($color: $base-button, $amount: 20%);
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
        font-weight: bold;
    }
    &:disabled{
        opacity: 0.65;
        color: gray;
        &:hover {
            background-color: $base-button;
            border-color: darken($color: $base-button, $amount: 10%);
            cursor: not-allowed;
            color: gray;
            box-shadow: none;
        }
    }
}
.btn-error{
    background-color: $error-button;
    border: 1px solid darken($color: $error-button, $amount: 10%);
    &:hover {
        background: lighten($color: $error-button, $amount: 5%);
        border-color: lighten($color: $error-button, $amount: 10);
    }
    &:disabled{
        opacity: 0.65;
        &:hover {
            background-color: $error-button;
            border-color: lighten($color: $error-button, $amount: 20%);
            cursor: not-allowed;
        }
    }
}
.btn-warning{
    background-color: $warning-button;
    border: 1px solid darken($color: $warning-button, $amount: 10%);
    color: darken($color: $warning-button, $amount: 30%);
    &:hover {
        background: lighten($color: $warning-button, $amount: 10%);
        border-color: $warning-button;
        color: darken($color: $warning-button, $amount: 20%);
    }
    &:disabled{
        opacity: 0.65;
        &:hover {
            background-color: $warning-button;
            border-color: darken($color: $warning-button, $amount: 10%);
            cursor: not-allowed;
        }
    }
}
#usertypes-checkbox {
    display: grid;
    grid-template-columns: 25px 1fr;
    label {
        line-height: 35px;
    }
}