@import url(https://fonts.googleapis.com/css2?family=Share+Tech&display=swap);
body, html {
    font-family:Share Tech,sans-serif;
}
body {
    background: url(../../assets/sfondo.png);
    background-size: cover;
}
#content {
    width: 1200px;
    margin: auto;
}
::-webkit-scrollbar-thumb {
    background: cyan;
    border-radius: 2.5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px cyan;
    border-radius: 2.5px;
}
.render {
    background-color: rgba(24,23,28,.7490196078431373);
    text-shadow: 0 0 10px cyan;
    color: #e0ffff;
}
.menu {
    height: 100%;
    padding: 0;
    background: repeating-linear-gradient(180deg,transparent 0,rgba(204,94,98,.2) 1px,rgba(204,94,98,.2) 3px,rgba(204,94,98,.2) 5px,rgba(204,94,98,.2) 0,transparent .5%),repeating-linear-gradient(270deg,rgba(1,1,1,.9) 100%,rgba(1,1,1,.9) 0);
    li {
        margin: 0;
        .menu-header {
            text-transform: uppercase;
            color: rgba(211,87,91,.81);
            text-shadow: 0 0 3px rgb(211 87 91 / 91%);
            transition: color 1s ease-out;
            transition: border-color 1s ease-out;
            border: 2px solid transparent;
            border-left-width: 5px;
            -webkit-clip-path: polygon(350px 0,350px 29px,322px 57px,0 57px,0 0);
            clip-path: polygon(350px 0,350px 29px,322px 57px,0 57px,0 0);
            background-color: transparent;
            &:hover {
                color:#61e4fa;
                background:rgba(0,0,0,.25);
                border-color:#61e4fa;
                transition:color .23s linear;
                transition:border-color .23s linear;
            }
        }
        .active {
            color:#61e4fa;
            background:rgba(0,0,0,.25);
            border-color:#61e4fa;
            transition:color .23s linear;
            transition:border-color .23s linear;
        }
    }
}

// .menu .menu-item-collpased .icon-collapsed,.menu .menu-item-collpased .icon-expanded,.menu .menu-item .icon-collapsed,.menu .menu-item .icon-expanded{height:25px;
// fill:#06ab13;
// transform:rotate(0deg)}.menu .menu-item-collpased .icon-expanded,.menu .menu-item .icon-expanded{transform:rotate(-88deg)}.menu .active{background:rgba(0,0,0,.25);
// border-color:#61e4fa;
// border-left:5px solid #61e4fa;
// color:#61e4fa}.menu .children{margin-left:10px}.grid{display:grid;
// grid-template-columns:25px 1fr}.form-control{height:calc(1.5em + .5rem + 2px);
// padding:.5px 1px;
// border-radius:.2rem;
// border:1px solid #ced4da;
// transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out}.form-control:focus{color:#495057;
// background-color:#fff;
// border-color:#06c;
// outline:0;
// box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}.form-control::placeholder{color:#61676d;
// opacity:.7}.form-control:disabled,.form-control[readonly]{background-color:#e9ecef;
// opacity:1}[type=date]{-webkit-user-modify:read-only}[type=date]::-webkit-inner-spin-button{display:none}[type=date]::-webkit-calendar-picker-indicator{margin-top:5px}.btn,.btn-error,.btn-warning{-webkit-user-select:none;
// user-select:none;
// font-family:inherit;
// display:inline-block;
// font-size:12px;
// text-align:center;
// vertical-align:middle;
// background-color:#06c;
// border:1px solid #004d99;
// padding:2.5px 5px;
// border-radius:3.5px;
// transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
// text-decoration:none;
// cursor:pointer;
// color:#fff}.btn-error:hover,.btn-warning:hover,.btn:hover{background:#0073e6;
// border-color:#0080ff;
// box-shadow:0 0 2px 1px rgba(0,0,0,.3);
// font-weight:700}.btn-error:disabled,.btn-warning:disabled,.btn:disabled{opacity:.65;
// color:gray}.btn-error:disabled:hover,.btn-warning:disabled:hover,.btn:disabled:hover{background-color:#06c;
// border-color:#004d99;
// cursor:not-allowed;
// color:gray;
// box-shadow:none}.btn-error mat-icon,.btn-warning mat-icon,.btn mat-icon{font-size:12px;
// height:12px;
// width:12px;
// margin-right:5px}.btn-error{background-color:#d9364f;
// border:1px solid #b9233a}.btn-error:hover{background:#dd4b62;
// border-color:#e16175}.btn-error:disabled{opacity:.65}.btn-error:disabled:hover{background-color:#d9364f;
// border-color:#b9233a;
// cursor:not-allowed}.cyber-text{text-shadow:0 0 10px cyan;
// color:#e0ffff}.cyber-text-inverse{text-shadow:0 0 10px #383838;
// color:#000}.label,label{border:1px solid;
// padding:2.5px;
// border-radius:2.5px;
// margin-bottom:2.5px}.container .title,.label,label{color:#61e4fa;
// background:rgba(0,0,0,.25)}.container .title{background-color:rgba(24,23,28,.7)!important}.container .content,.container .title{border:1px solid #61e4fa;
// border-radius:2.5px}.container .content{padding:2.5px}.desc-scheda,.value-scheda{border:solid blue;
// border-width:1px 1px 2px;
// display:inline-block;
// text-align:center;
// margin-top:5px;
// cursor:pointer;
// padding:2.5px;
// background-color:#6495ed70;
// color:#dcdcdc}.value-scheda{margin-left:5px;
// background-color:#b8bac1;
// color:#000}.exp-header{background:#f0f8ff}.exp-body label{color:#000}.layoutMenu{display:grid;
// grid-template-columns:1fr 6fr;
// height:90%}::-webkit-scrollbar{width:auto}::-webkit-scrollbar-track{box-shadow:inset 0 0 5px cyan;
// border-radius:2.5px}::-webkit-scrollbar-thumb{background:cyan;
// border-radius:2.5px}::-webkit-scrollbar-thumb:hover{background:#0cc}::selection{color:red;
// background:#ff0}.tendina{background:rgba(0,0,0,.5);
// height:100%;
// width:100%;
// position:fixed;
// top:0;
// left:0;
// z-index:99}.tendina .body{box-shadow:0 0 20px 0 rgba(0,0,0,.75);
// min-width:230px;
// position:fixed;
// top:50%;
// left:50%;
// transform:translate(-50%,-50%);
// box-shadow:5px 10px 8px #00ffff8c;
// background-color:#6b6b6b;
// border-radius:2.5px}.tendina .body .content{width:75vw;
// height:75vh;
// overflow:auto}.tendina footer,.tendina header{background-color:cyan;
// padding:2.5px 5px;
// font-weight:700;
// margin-bottom:5px;
// border:solid #099;
// border-width:1px 1px 3px;
// border-radius:2.5px 2.5px 0 0}.tendina footer{margin-top:5px;
// margin-bottom:0;
// border-top-width:3px;
// border-bottom-width:0;
// border-radius:0 0 2.5px 2.5px}.tendina .layout,.tendina .layout-err{padding:2.5px 5px}.tendina .layout-err{display:grid;
// grid-template-columns:35px 1fr}.tendina .layout-err .text{line-height:35px;
// font-size:30px}.label-invalid{border-radius:3.5px;
// padding:2.5px calc(1.5em + .75rem) 2.5px 5px;
// background-color:#b9233a;
// color:#fff;
// background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
// background-repeat:no-repeat;
// background-position:center right calc(.375em + .1875rem);
// background-size:calc(.75em + .375rem) calc(.75em + .375rem)}.tooltip{position:relative}.tooltiptext{visibility:hidden;
// background-color:cyan;
// color:#fff;
// text-align:center;
// border-radius:2.5px;
// position:absolute;
// z-index:1;
// top:25px;
// left:5px;
// padding-left:5px;
// padding-right:5px}.tooltip:hover .tooltiptext{visibility:visible}