@import './definition.scss', './dialog.scss', './form-control.scss', './menu.scss';
html, body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $font-color;
}
#content {
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 15px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    .render {
        margin-left: 5px;
        margin-right: 10px;
        padding: 2.5px 5px;
    }
}
table {
    border: 1px solid $base-color;
    width: 100%;
    border-collapse: collapse;
    th, td {
        background: $base-color;
        border: 1px solid $base-color;
        border-bottom: 2px solid $base-color;
        border-bottom-color: darken($color: $base-color, $amount: 10);
        border-right: 2px solid $base-color;
        border-right-color: darken($color: $base-color, $amount: 10);
        padding: $padding-base;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    td {
        background: transparent;
    }
    th {
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
        color: white;
    }
    tr, .selected {
        .expander, .expander-expanded, .bool {
            svg {
                height: 25px;
                fill: white;
                cursor: pointer;
            }
        }
        .expander, .expander-expanded {
            svg {
                transition: transform .2s ease-in-out;
                &:hover {
                    fill: orange;
                }
            }
        }
        .expander-expanded {
            svg {
                transform: rotate(90deg);
            }
        }
        &:hover {
            background: lighten($color: $base-color, $amount: 20);
            color: black;
            .bool {
                svg {
                    height: 25px;
                    fill: black;
                    cursor: pointer;
                }
            }
        }
        td {
            text-align: center;
        }
        &:nth-of-type(odd){
            background: #08b6dc7d;
            &:hover{
                background: lighten($color: #08b6dc, $amount: 10);
                // background: linear-gradient(0deg, darken(#08b6dc, 5) 0%, lighten(#045009, 5) 20%, lighten($background-color, 5) 100%);
                border-color: lighten($color: #ffffff, $amount: 15);
            }
        }
    }
    .selected {
        td {
            background: lighten($color: #08b6dc, $amount: 5);
        }
    }
    .childern {
        background-color: transparent;
        color: inherit;
        &:hover {
            background-color: transparent;
            color: inherit;
        }
    }
}
.mt-1 {
    margin-top: 5px;
}
.ml-1 {
    margin-left: 5px;
}
.dialog{
    background: rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .body {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 10px 8px #888888;
        background-color: $background-color;
        border-radius: 2.5px;
        border: 1px solid #ddd;
    }
    header, footer {
        background-color: lighten($color: $background-color, $amount: 10);
        border: 1px solid $border-color;
        padding: $padding-base;
        font-weight: bold;
        margin-bottom: 5px;
        border-bottom-width: 3px;
        border-radius: 2.5px 2.5px 0 0;
    }
    footer{
        margin-top: 5px;
        margin-bottom: 0;
        border-top-width: 3px;
        border-bottom-width: 0;
        border-radius: 0 0 2.5px 2.5px;
    }
    .layout, .layout-err {
        padding: $padding-base;
        min-width: 300px;
        margin-right: 10px;
    }
    .layout-err {
        display: grid;
        grid-template-columns: 35px 1fr;
        .text {
            line-height: 35px;
            font-size: 30px;
        }
    }
}
#delete-message {
    padding: $padding-base;
}
#dati {
    padding: 0;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    .buttons {
        white-space: nowrap;
    }
    thead tr {
        position: sticky;
        top: 0;
    }
    // li {
    //     header {
    //         cursor: pointer;
    //         color: $font-color;
    //         padding: $padding-base;
    //         border-radius: 2.5px;
    //         margin-top: 5px;
    //         display: inline-block;
    //         width: 100%;
    //         .icon-expander, .icon-expander-expanded {
    //             font-weight: bold;
    //             transform: rotate(238deg) translateY(-4px);
    //             border: 0;
    //             display: inline-block;
    //             cursor: pointer;
    //         }
    //         .icon-expander-expanded {
    //             transform: rotate(-45deg);
    //         }
    //         &:hover {
    //             background: lighten($color: $base-color, $amount: 5);
    //             color: orange;
    //         }
    //     }
    // }
}
.children-ul{
    list-style: none;
    padding-left: 20px;
}
.tab {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li, .active {
        text-decoration: none;
        border-top: 4px solid;
        border-color: lighten($color: $base-color, $amount: 10);
        color: $font-color;
        cursor: pointer;
        padding: $padding-base;
        border-radius: 2.5px;
        background: $base-color;
        margin-top: 5px;
        display: inline-block;
        &:hover {
            background: lighten($color: $base-color, $amount: 5);
            border-color: orange;
            color: #e4ff00;
        }
    }
    .active {
        background-color: orange;
        border-color: lighten($color: orange, $amount: 30);
        color: black;
        &:hover {
            background-color: darken($color: orange, $amount: 10);
            border-color: lighten($color: orange, $amount: 10);
            color: black;
        }
    }
}
#refer-parent {
    display: grid;
}
.grid-1 {
    display: grid;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.h-100 {
    height: 100%;
}
#error {
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #ff00007a;
    padding: 5px;
    min-height: 25px;
    .icon {
        position: absolute;
        cursor: pointer;
        background-color: red;
        right: 5px;
        padding: 2.5px 5px;
        &:hover {
            background-color: orange;
            color: black
        }
    }
}
.error-message {
    background: #ff00007a;
    padding: 5px;
    min-height: 25px;
    label {
        line-height: 25px;
    }
}
.tree-node {
    .header, .header-expanded {
        text-decoration: none;
        border-left: 4px solid;
        border-color: lighten($color: $base-color, $amount: 10);
        color: $font-color;
        cursor: pointer;
        padding: $padding-base;
        border-radius: 2.5px;
        background: $base-color;
        margin-top: 5px;
        display: inline-block;
        white-space: nowrap;
        &:hover {
            background: lighten($color: $base-color, $amount: 5);
            border-color: orange;
            color: #e4ff00;
            .icon {
                filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
            }
        }
        .icon, .icon-expanded {
            transform: rotate(135deg);
            display: inline-block;
            height: 14px;
            width: 14px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' clip-rule='evenodd' viewBox='0 0 60 60'%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(26 -3)'/%3E%3Ccircle cx='19' cy='18' r='10' transform='translate(-4 27)'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(141deg) brightness(111%) contrast(96%);
        }
        .icon-expanded {
            transform: rotate(225deg);
            filter: invert(80%) sepia(85%) saturate(591%) hue-rotate(10deg) brightness(105%) contrast(102%);
        }
    }
    .header-expanded {
        background: lighten($color: $base-color, $amount: 5);
        border-color: lighten($color: $base-color, $amount: 15);
        color: #e4ff00;
        &:hover {
            background: lighten($color: $base-color, $amount: 10);
            border-color: lighten($color: orange, $amount: 10);
            color: lighten($color: #e4ff00, $amount: 10);
            .icon-expanded {
                filter: invert(83%) sepia(38%) saturate(2471%) hue-rotate(331deg) brightness(105%) contrast(105%);
            }
        }
    }
    .content {
        border: 1px solid;
        margin-top: 2.5px;
    }
}
.topic {
    border: 1px solid $base-color;
    border-radius: 2.5px 5px;
    margin-top: 5px;
    cursor: pointer;
    header {
        padding: $padding-base;
        display: grid;
        grid-template-columns: 30px 8fr 1fr 25px 90px;
        &:hover {
            background: lighten($color: $base-color, $amount: 20);
        }
    }
}