<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="./styles/styles.css">
    <!-- <script src="scripts/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="scripts/main-functions.js"></script> -->
    <!-- <script src="https://unpkg.com/mithril/mithril.js"></script> -->
</head>
<body>
    <!-- <script> -->
        <!-- // var root = document.body; -->
        <!-- // let menuname = "MainMenuBe"; -->
        <!-- // var getMenu = function() { -->
        <!-- //     m.request({ -->
        <!-- //         method: "GET", -->
        <!-- //         url: "../api/menu/getmenu?menuName=" + menuname, -->
        <!-- //         withCredentials: true, -->
        <!-- //     }) -->
        <!-- //     .then(function(data) { -->
        <!-- //         let menuItems = []; -->
        <!-- //         let menu = m("ul", { class: "menu", id: menuname }, ""); -->
        <!-- //         data.Data.forEach((menuItem) => { -->
        <!-- //             menuItems.push(m("li", { class: "menu", id: menuItem.Id }, menuItem.Name)); -->
        <!-- //         }); -->
        <!-- //         m.render(root, menu); -->
        <!-- //         m.render(menu, menuItems); -->
        <!-- //     }) -->
        <!-- // } -->
        <!-- // getMenu(); -->
    <!-- </script> -->
    <!-- <div id="content"> -->