<!--<div class="content" *ngIf="element != null" [innerHTML]="element.Content"></div>-->

<div class="content" *ngIf="element != null && element.Childrens != null">
    <div *ngFor="let c of element.Childrens">
        <ng-container [ngSwitch]="c.Type">
            <h1 *ngSwitchCase="'title'" [innerHTML]="c.Content"></h1>
            <button *ngSwitchCase="'button'" [innerHTML]="c.Content"></button>
            <p *ngSwitchCase="'text'" [innerHTML]="c.Content"></p>
            <img *ngSwitchCase="'image'" src="{{ c.Content }}" height="100">
        </ng-container>
    </div>
</div>