<ul id="mainMenu">
    {{ range $m := .MainMenu }}
    <li>
        {{ template "menu-item" $m }}
    </li>
    {{end}}
</ul>
<script src="scripts/monaco-editor/min/vs/loader.js"></script>
<script src="scripts/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
<script src="scripts/monaco-editor/min/vs/editor/editor.main.js"></script>
<link rel="stylesheet" data-name="vs/editor/editor.main" href="scripts/monaco-editor/min/vs/editor/editor.main.css" />
<style>
    #content-editor {
        height: 200px;
        /* width: 500px; */
        margin-right: 10px;
        position: relative;
        margin-bottom: 100px;
        border: 1px solid gray;
    }
</style>
<div>
    <h2>Database</h2>
    <div style="display: grid; grid-template-columns: 1fr 9fr;column-gap: 15px;">
        <ul id="dati"></ul>
        <div id="table">
            <button class="btn-warning" onclick="$('#sql-editor').toggle();">SQL</button>
            <div id="sql-editor">
                <button class="btn mt-1" onclick="ExecuteSql();">Execute</button>
                <div id="content-editor" class="mt-1">
                    
                </div>
            </div>
            <div id="table-content" class="mt-1">
                
            </div>
        </div>
    </div>
</div>
<script>
    var editor;
    $(document).ready(() => {
        Get("../api/dbapi/getdatabases", 0).done(function(data) {
            data.Data.forEach((db) => {
                $("#dati").append($("<li><header onclick='Toggle(this, \"" + atob(db.Database) + "\");'><span class='icon-expander'>:.</span><span class='ml-1'>" + atob(db.Database) + "<span></header></li>"));
            });
        });
        $("#sql-editor").hide();
        require(['vs/editor/editor.main'], function () {
            editor = monaco.editor.create(document.getElementById('content-editor'), {
                // value: [selectedRow.Content].join('\n'),
                language: 'sql',
                theme: 'vs-dark',
                roundedSelection: true,
                automaticLayout: 'true',
                glyphMargin: true
            });
        });
        require.config({ paths: { vs: 'scripts/monaco-editor/min/vs' } });
    });
    function Toggle(element, name) {
        $($(element).children()[0]).toggleClass("icon-expander");
        $($(element).children()[0]).toggleClass("icon-expander-expanded");
        if($($(element).children()[0]).hasClass("icon-expander-expanded")) {
            Get("../api/dbapi/gettables?db=" + name, 0).done(function(data) {
                let ul = $("<ul class=\"children-ul\" id=\"" + name + "\"></ul>");
                data.Data.forEach((t) => {
                    $(ul).append($("<li><header onclick='OpenTable(\"" + name + "." + atob(t.TABLE_NAME) + "\");'><span class='icon-expander'>:.</span><span class='ml-1'>" + atob(t.TABLE_NAME) + "<span></header></li>"));
                });
                $(element).parent().append(ul);
            });
        }
        else {
            $("#" + name).remove();
        }
    }
    function OpenTable(name) {
        Get("../api/dbapi/opentable?name=" + name, 0).done(function(data) {
            $("#table-content").children().empty();
            let columns = Object.getOwnPropertyNames(data.Data[0]);
            let table = $("<table></table>");
            let h = $("<tr></tr>");
            columns.forEach((c) => {
                $(h).append("<th>" + c + "</th>");
            });
            $(table).append($(h));
            data.Data.forEach((row) => {
                let tr = $("<tr></tr>");
                columns.forEach((c) => {
                    $(tr).append($("<td>" + atob(row[c]) + "</td>"));
                });
                $(table).append($(tr));
            });
            $("#table-content").append($(table));
        });
    }
    function ExecuteSql() {
        let data = { "sql": editor.getValue() };
        Post("dbapi", "execute", data).done(function(data) {
            console.log(data);
            // data.Data.forEach((db) => {
            //     $("#dati").append($("<li><header onclick='Toggle(this, \"" + atob(db.Database) + "\");'><span class='icon-expander'>:.</span><span class='ml-1'>" + atob(db.Database) + "<span></header></li>"));
            // });
        });
    }
</script>