{{ template "menu" .MenuName }}
<div class="render">
    <h2>Reset the password</h2>
    <form method="post">
        <label for="username">Username</label>
        <input class="form-control"id="username" name="username">
        <button class="btn mt-1" type="button" onclick="ResetPassword()">Reset</button>
        <label id="success"></label>
    </form>
</div>
<script>
    function ResetPassword() {
        Post("user", "reset", { "username": $("#username").val() }).done(function(data) {
            $("#success").text("Reset succefully! We will send a mail with a reset link");
        }).fail(function(data) {
            if(data.status == 401) {
                ShowError("Invalid username");
            }
            else {
                console.error(data);
                ShowError(data.error);
            }
        });
    }
</script>