{{ template "menu" .MenuName }}
<div class="render">
    <h2>User Types</h2>
    <table id="dati">
        <tr>
            <th>Username</th>
            <th>#</th>
        </tr>
    </table>
    <button class="btn mt-1" onclick="$('#edit-dialog').show();">Add user type</button>
</div>
<div class="dialog" id="edit-dialog">
    <div class="body">
        <header>Add User type</header>
        <div class="content">
            <form class="layout" id="edit-route">
                <label for="name">Name</label>
                <input id="name" class="form-control">
            </form>
        </div>
        <footer style="text-align: right;">
            <button class="btn" onclick="Save()">Save</button>
            <button class="btn-error" onclick="CloseForm()">Cancel</button>
        </footer>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("#edit-dialog").hide();
        LoadUserType();
    });
    function LoadUserType() {
        while($($("#dati").children()[0]).children().length > 1) {
            $($($("#dati").children()[0]).children()[1]).remove();
        }
        Get("../api/usertype/getusertypes", 0).done(function(data) {
            data.Data.forEach((row) => {
                var tr = $("<tr></tr>");
                $(tr).append($("<td>" + row.Description + "</td>"));
                $(tr).append($("<td><button class=\"btn-error\" onclick=\"SetDeleteMessage(" + row.ID + ", '');\">Delete</button></td>"));
                $("#dati").append(tr);
            });
        }).fail(function(data) {
            console.error(data);
        });
    }
    function OnDelete() {
        $('#delete-dialog').hide();
        Delete("usertype", "deleteusertype", $("#delete-dialog-button").attr("refer-id")).done(function(data) {
            LoadUserType();
        }).fail(function(data) {
            ShowError(data);
        });
    }
    function Save() {
        usertype.Description = $('#name').val();
        Post("usertype", "addusertype", usertype).done(function(data) {
            LoadRoutes();
        }).fail(function(data) {
            ShowError(data);
        });
        $('#edit-dialog').hide();
    }
    function CloseForm() {
        $("#edit-route")[0].reset();
        $('#edit-dialog').hide();
        selectedRow = null;
    }
</script>