{{ template "menu" .MenuName }}
<div class="render">
    <h2>Users</h2>
    <table id="dati">
        <tr>
            <th>Username</th>
            <th>Password expired</th>
            <th>Last Login</th>
            <th>Password duration (in days)</th>
            <th>User type</th>
            <th>#</th>
        </tr>
    </table>
</div>
<div class="dialog" id="edit-dialog">
    <div class="body">
        <header>Edit Route</header>
        <div class="content">
            <form class="layout" id="edit-user">
                <label for="usertype">User Type</label>
                <select id="usertype" class="form-control"></select>
            </form>
        </div>
        <footer style="text-align: right;">
            <button class="btn" onclick="Save()">Save</button>
            <button class="btn-error" onclick="CloseForm()">Cancel</button>
        </footer>
    </div>
</div>
<script>
    var rows = [];
    var selectedRow;
    $(document).ready(() => {
        $('#edit-dialog').hide();
        Get("../api/usertype/getusertypes", 0).done(function(data) {
            $("#usertype").append($("<option value=\"-1\">Select a user type</option>"));
            data.Data.forEach((row) => {
                $("#usertype").append($("<option value='" + row.ID + "'>" + row.Description + "</option>"));
            });
        });
        LoadUser();
    });
    function LoadUser() {
        Get("../api/user/loadusers", 0).done(function(data) {
            rows = data.Data;
            rows.forEach((row) => {
                var tr = $("<tr></tr>");
                $(tr).append($("<td>" + row.Username + "</td>"));
                $(tr).append($("<td>" + row.IsPasswordExpired + "</td>"));
                $(tr).append($("<td>" + row.LastLogin + "</td>"));
                $(tr).append($("<td>" + row.PasswordDuration + "</td>"));
                $(tr).append($("<td>" + row.UserType.Description + "</td>"));
                $(tr).append($("<td><button class=\"btn-warning\" onclick=\"Edit(" + row.ID + ");\">Edit</button><button onclick=\"SetDeleteMessage(" + row.ID + ", '');\" class=\"btn-error ml-1\">Delete</button></td>"));
                $("#dati").append(tr);
            });
        }).fail(function(data) {
            console.error(data);
        });
    }
    function Edit(id) {
        $('#edit-dialog').show();
        SetSelectedRecord(id);
        $("#usertype").val(selectedRow.ID);
    }
    function CloseForm() {
        $("#edit-user")[0].reset();
        $('#edit-dialog').hide();
        selectedRow = null;
    }
    function Save() {
        Post("user", "updateuser", { ID: selectedRow.ID, UserType: { ID: $('#usertype').val() }}).done(function(data) {
            LoadUser();
        }).fail(function(data) {
            ShowError(data);
        });
        $('#edit-dialog').hide();
    }
    function SetSelectedRecord(id) {
        rows.forEach((row) => {
            if(row.ID == id) {
                selectedRow = row;
                return;
            }
        });
    }
    function OnDelete() {
        $('#delete-dialog').hide();
        Delete("user, deleteuser", $("#delete-dialog-button").attr("refer-id")).done(function(data) {
            LoadUser();
        }).fail(function(data) {
            ShowError(data);
        });
    }
</script>