.cont-password{
    display: grid;
    grid-template-columns: 1fr 45px;
    .btn-show-password {
        height: 32px;
        margin-left: 5px;
        fill: #989898;
        cursor: pointer;
        .line{
            fill:none;
            stroke-width:30px;
            stroke:#989898;
        }
        &:hover {
            fill: #ff3636bb;
            .line{
                stroke:#ff3636bb;
            }
        }
    }
}

.switch, .disabled {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 25px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // background-color: lighten($color: #1e1e1e, $amount: 35);
        background-color: lighten($color: #0066cc, $amount: 35);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 15px;
        &:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 17px;
            left: 4px;
            bottom: 4px;
            background-color: lighten($color: #0066cc, $amount: 15);
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 15px;
        }
    }
    input:checked + .slider {
        background-color: #06ab14;
        &::before {
            background-color: #00ff16;
        }
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #06ab14;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
}
.disabled {
    .slider {
        cursor: no-drop;
        background-color: lighten($color: #1e1e1e, $amount: 35);
        &::before {
            background-color: lighten($color: #1e1e1e, $amount: 15);
        }
    }
}

#previewIcon {
    max-width: 100px;
    max-height: 100px;
}
.lblImage {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}