<div [formGroup]="frmGroup" class="grid-1">
    <label *ngIf="controlType != 6 && controlType != 9" for="{{ controlName }}" class="unselectable mt-1">{{ label }}</label>
    <ng-container *ngIf="controlType == 0 && dataList != null">
        <input
            id="{{ controlName }}"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
            formControlName="{{ controlName }}"
            list="listData">
        <datalist id="listData" *ngIf="dataList != null">
            <option *ngFor="let m of dataList" value="{{ m }}">{{ m }}</option>
        </datalist>
    </ng-container>
    <ng-container *ngIf="controlType == 0 && dataList == null">
        <input
            id="{{ controlName }}"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
            formControlName="{{ controlName }}">
    </ng-container>
    <ng-container *ngIf="controlType == 1">
        <input
            id="{{ controlName }}"
            type="number"
            min="{{ Min }}"
            max="{{ Max }}"
            (change)="OnChanged($event)"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
            formControlName="{{ controlName }}">
    </ng-container>
    <ng-container *ngIf="controlType == 2">
        <select
            id="{{ controlName }}"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'h-100': (size > 1) }"
            (change)="OnChanged($event)"
            size = "{{ size }}"
            formControlName="{{ controlName }}">
            <option *ngFor="let d of dataList" value="{{ d.ID }}">{{ d[descField] }}</option>
        </select>
    </ng-container>
    <ng-container *ngIf="controlType == 3">
        <angular-editor
            id="{{ controlName }}"
            formControlName="{{ controlName }}"
            [config]="editorConfig"></angular-editor>
    </ng-container>
    <ng-container *ngIf="controlType == 4">
        <input
            id="{{ controlName }}"
            type="mail"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
            formControlName="{{ controlName }}">
    </ng-container>
    <ng-container *ngIf="controlType == 5">
        <div class="cont-password">
            <input
                id="{{ controlName }}"
                [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls['password'].invalid && !frmGroup.controls['password'].pristine, 'is-valid': !frmGroup.controls['password'].invalid && !frmGroup.controls['password'].pristine }"
                formControlName="{{ controlName }}"
                type="{{ passType }}">
            <svg *ngIf="!passVisible" xmlns="http://www.w3.org/2000/svg" class="btn-show-password" viewBox="0 0 576 512" (click)="SetPasswordVisible()"><path d="M569.4 231.6C513 135.9 407.8 72 288 72 168.1 72 63 136 6.6 231.6a48 48 0 0 0 0 48.7C63 376.1 168.2 440 288 440c119.9 0 225-64 281.4-159.6a48 48 0 0 0 0-48.7zM288 392c-102.6 0-192.1-54.7-240-136 44.2-74.9 123.7-127.3 216.2-135C274 131.1 280 144.8 280 160c0 30.9-25.1 56-56 56s-56-25.1-56-56l0 0C157.8 179 152 200.8 152 224c0 75.1 60.9 136 136 136s136-60.9 136-136c0-31-10.4-59.6-27.9-82.5C451.7 164.6 498 205.1 528 256c-47.9 81.3-137.4 136-240 136z"/></svg>
            <svg *ngIf="passVisible" xmlns="http://www.w3.org/2000/svg" class="btn-show-password" viewBox="0 0 576 512" (click)="SetPasswordVisible()" stroke-linejoin="round"><path d="M569.4 231.6C513 135.9 407.8 72 288 72 168.1 72 63 136 6.6 231.6 -2.2 246.6-2.2 265.4 6.6 280.4 63 376.1 168.2 440 288 440 407.9 440 513 376 569.4 280.4 578.2 265.4 578.2 246.6 569.4 231.6ZM288 392C185.4 392 95.9 337.3 48 256 92.2 181.1 171.7 128.7 264.2 121 274 131.1 280 144.8 280 160 280 190.9 254.9 216 224 216 193.1 216 168 190.9 168 160L168 160C157.8 179 152 200.8 152 224 152 299.1 212.9 360 288 360 363.1 360 424 299.1 424 224 424 193 413.6 164.4 396.1 141.5 451.7 164.6 498 205.1 528 256 480.1 337.3 390.6 392 288 392Z"/><path d="M48 392C49.5 390.6 508 87 508 87" class="line"/></svg>
        </div>
    </ng-container>
    <ng-container *ngIf="controlType == 6">
        <div>
            <label [ngClass]="{ 'switch': true, 'disabled': frmGroup.controls[controlName].disabled }">
                <input
                    id="{{ controlName }}"
                    type="checkbox"
                    (change)="OnChanged($event)"
                    [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
                    formControlName="{{ controlName }}">
                <span class="slider round"></span>
            </label>
            <label for="{{ controlName }}" class="unselectable mt-1">{{ label }}</label>
        </div>
    </ng-container>
    <ng-container *ngIf="controlType == 8">
        <div style="display: grid; grid-template-columns: 1fr 100px">
            <input type="hidden" 
                [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
                formControlName="image">
            <div>
                <input
                    id="image"
                    type="file"
                    (change)="onFileChange($event)"><br>
                <label class="lblImage">{{ frmGroup.controls['image'].value }}</label>
            </div>
            <img id="previewIcon" class="ml-1" [src]="imageSrc || frmGroup.controls['image'].value || 'http://via.placeholder.com/100x100'" alt="Your image"/>
        </div>
    </ng-container>
    <ng-container *ngIf="controlType == 9">
        <input
            id="{{ controlName }}"
            type="hidden"
            [ngClass]="{ 'form-control': true, 'is-invalid': frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine, 'is-valid': !frmGroup.controls[controlName].invalid && !frmGroup.controls[controlName].pristine }"
            formControlName="{{ controlName }}">
    </ng-container>
    <app-code-editor *ngIf="controlType == 7"></app-code-editor>
</div>