<app-table [table]="table" (edited)="Edit($event)" (deleted)="OpenDeleteDialog($event.ID, 'component', 'delete')" (added)="AddElement()">
</app-table>
<!--<app-dialog
    [title]="editTitle"
    [dialogType]="dialogType"
    *ngIf="dialogType != 99 && dialogType != 2"
    (cancelClick)="CancelDialogClick()">
    <app-edit-component [selectedComponent]="selectedRecord" [routes]="routes" (saved)="SavedDialogClick($event, dialogType)"></app-edit-component>
</app-dialog>-->

<h2 *ngIf="selectedRecord != null">Edit "{{ selectedRecord.IDElement}}"</h2>
<div *ngIf="selectedRecord != null" class="div-editor">
    <app-block-editor
        (onsavepage)="SavedDialogClick($event)"
        (oncanceledit)="CancelDialogClick()"
        [element]="selectedRecord"
        [routes]="routes"></app-block-editor>
</div>