<form [formGroup]="frmGroup" class="grid-skills" method="post" (ngSubmit)="onSubmit()">
    <app-form-control
        [label]="'* Name'"
        [controlName]="'name'"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Prestavolto'"
        [controlName]="'prestavolto'"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Background'"
        [controlName]="'background'"
        [controlType]="3"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Avatar'"
        [controlName]="'image'"
        [controlType]="8"
        (onFileChanged)="onFileChanged($event)"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [controlName]="'points'"
        [controlType]="9"
        [frmGroup]="frmGroup"></app-form-control>
    <div class="mt-1 buttons">
        <button type="submit" class="btn unselectable override-dialog" [disabled]="frmGroup.invalid">Next</button>
    </div>
</form>