<form [formGroup]="frmGroup" class="grid-1" method="post" (ngSubmit)="onSubmit()">
    <app-form-control
        [label]="'* Package'"
        [controlName]="'package'"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Func'"
        [controlName]="'func'"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Type'"
        [controlName]="'type'"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Method'"
        [controlName]="'method'"
        [frmGroup]="frmGroup"></app-form-control>
    <div class="grid-3 mt-1">
        <div class="mt-1" *ngFor="let p of selectedRoute.Permissions">
            <app-form-control
                [label]="p.UserType.Description"
                [controlName]="p.IDUserType.toString()"
                [controlType]="6"
                [frmGroup]="frmGroup"></app-form-control>
        </div>
    </div>
    <label class="unselectable mt-1">* Mandatory fields</label>
    <label class="unselectable mt-1 error-message" *ngIf="error != '' && error != null">{{ error }}</label>
    <button type="submit" class="btn unselectable override-dialog" [disabled]="frmGroup.invalid">Save</button>
</form>