<h2>Login in the website</h2>
<form method="post">
    <app-form-control
        [label]="'* Mail'"
        [controlName]="'username'"
        [controlType]="4"
        [frmGroup]="frmGroup"></app-form-control>
    <app-form-control
        [label]="'* Password'"
        [controlName]="'password'"
        [controlType]="5"
        [frmGroup]="frmGroup"></app-form-control>
    <button type="submit" class="btn mt-1 unselectable" [disabled]="frmGroup.invalid" (click)="onSubmit()">Login</button>
</form>